.dashboard-container {
  padding: 2rem;
  color: #fff;
  background-color: #121212;
  min-height: 100vh;
}

.dashboard-cards {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.card {
  background-color: #1e1e1e;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 0 10px #000;
  flex: 1;
  min-width: 250px;
}